aiofiles==0.6.0
aiosqlite==0.17.0
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
asyncio-extras==1.3.2
asyncpg==0.23.0
asyncpraw==7.5.0
asyncprawcore==2.2.1
attrs==21.2.0
backports.entry-points-selectable==1.1.0
braceexpand==0.1.7
CacheControl==0.12.6
cachetools==4.2.2
cachy==0.3.0
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
cleo==0.8.1
click==8.0.1
clikit==0.6.2
crashtest==0.3.1
cryptography==3.4.8
discord.py==1.7.2
distlib==0.3.4
emojis==0.6.0
filelock==3.6.0
google-api-core==1.28.0
google-api-python-client==2.7.0
google-auth==1.30.1
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
html5lib==1.1
httplib2==0.19.1
humanize==3.6.0
idna==2.10
import-expression==1.1.4
importlib-metadata==4.6.1
itsdangerous==2.0.1
jeepney==0.7.1
Jinja2==3.0.1
jishaku==1.20.0.220
keyring==21.8.0
lockfile==0.12.2
MarkupSafe==2.0.1
msgpack==1.0.2
multidict==5.1.0
packaging==20.9
pastel==0.2.1
pexpect==4.8.0
Pillow==9.1.0
pipenv==2022.1.8
pkginfo==1.7.1
platformdirs==2.5.1
poetry==1.1.9
poetry-core==1.0.4
protobuf==3.17.1
psutil==5.8.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pylev==1.4.0
pyparsing==2.4.7
python-dotenv==0.17.1
pytz==2021.1
requests==2.25.1
requests-toolbelt==0.9.1
rsa==4.7.2
SecretStorage==3.3.1
shellingham==1.4.0
six==1.16.0
tabulate==0.8.9
tomlkit==0.7.2
typing-extensions==3.10.0.0
update-checker==0.18.0
uritemplate==3.0.1
urllib3==1.26.5
virtualenv==20.14.1
virtualenv-clone==0.5.7
webencodings==0.5.1
Werkzeug==2.0.1
yarl==1.6.3
zipp==3.5.0
